<!DOCTYPE html>
<html>
<head>
  <title>SeoPages</title>
  <%= stylesheet_link_tag    "seo_pages/application", media: "all" %>
  <%= javascript_include_tag "seo_pages/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
