<!DOCTYPE html>
<html>
<head>
  <title>Seo</title>
  <%= stylesheet_link_tag    "seo/application", media: "all" %>
  <%= javascript_include_tag "seo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
